h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

#title-div {
    padding: 10;
}

#asteroids-div {
    background-color: lightblue;
}

#overwatch-div {
    background-color: lightgoldenrodyellow;
}